/* line 17, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../scss/_base.scss */
body, input, button, * {
  font-family: "Exo", "sans serif";
}

/* line 14, ../scss/_base.scss */
body {
  background: #ff5e9d url("/img/bg.png");
  padding: 20px;
}

/* line 18, ../scss/_base.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 22, ../scss/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 12, ../scss/start.scss */
#wrapper {
  max-width: 1100px;
  margin: auto;
}

/* line 16, ../scss/start.scss */
header {
  text-align: center;
}
/* line 19, ../scss/start.scss */
header img {
  margin-top: -30px;
}
/* line 22, ../scss/start.scss */
header h2 {
  font-size: 30px;
  margin: auto;
  margin-bottom: 20px;
  color: #57133f;
  max-width: 400px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

/* line 32, ../scss/start.scss */
#options {
  background-color: #57133f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 3px 3px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 3px 3px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 3px 3px rgba(0, 0, 0, 0.65);
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 43, ../scss/start.scss */
.startOption {
  width: 33%;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 2px 0px black;
  line-height: 150%;
  margin: 0 -2px;
}
/* line 51, ../scss/start.scss */
.startOption img {
  display: block;
  margin: 20px auto;
}
/* line 55, ../scss/start.scss */
.startOption .frm {
  height: 80px;
  width: 180px;
  margin: auto;
}
/* line 60, ../scss/start.scss */
.startOption input {
  background-color: #27071e;
  width: 180px;
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 3px 3px black;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 3px 3px black;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 3px 3px black;
  border: 1px solid black;
  color: white;
  text-align: center;
  font-size: 20px;
}
/* line 73, ../scss/start.scss */
.startOption input:hover, .startOption input:focus {
  border-color: #ff5e9d;
}
/* line 77, ../scss/start.scss */
.startOption ::-webkit-input-placeholder {
  color: #ff5e9d;
  opacity: 0.6;
}
/* line 82, ../scss/start.scss */
.startOption :-moz-placeholder {
  color: #ff5e9d;
}
/* line 86, ../scss/start.scss */
.startOption input, .startOption button {
  display: block;
  margin: auto;
}
/* line 91, ../scss/start.scss */
.startOption .btn {
  background-image: -moz-linear-gradient(94% 0% -90deg, #474747 0%, black 100%);
  background-image: -webkit-gradient(linear, 94% 0%, 94% 100%, color-stop(0, #474747), color-stop(1, black));
  background-image: -webkit-linear-gradient(-90deg, #474747 0%, black 100%);
  background-image: linear-gradient(-90deg, #474747 0%, #000000 100%);
  width: 180px;
  height: 50px;
  border: 1px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff5e9d;
  text-shadow: 0px -2px 0px black;
  margin-bottom: 15px;
}
/* line 110, ../scss/start.scss */
.startOption .btn:hover {
  border-color: #ff5e9d;
  -moz-box-shadow: inset 0px 0px 10px #c81098;
  -webkit-box-shadow: inset 0px 0px 10px #c81098;
  box-shadow: inset 0px 0px 10px #c81098;
  color: white;
  cursor: pointer;
}

/* line 123, ../scss/start.scss */
::-webkit-validation-bubble-message {
  font-family: "Exo", "sans serif";
  text-transform: uppercase;
  border-radius: 2px;
}

/* line 129, ../scss/start.scss */
footer {
  font-size: 16px;
  clear: both;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

/* line 135, ../scss/start.scss */
#tip {
  font-size: 22px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

/* line 141, ../scss/start.scss */
#credit {
  margin-bottom: 30px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 151, ../scss/start.scss */
  .startOption {
    width: 100%;
    border-bottom: 1px solid #ff5e9d;
    padding-bottom: 10px;
  }

  /* line 156, ../scss/start.scss */
  #acredit {
    float: left;
  }
}
