$main-font:'Exo';
$pink:#FF5E9D;
$darkpink:#57133f;
$radius:5px;

@import "compass";
@import "compass/reset";


body,input,button,*{
	font-family:$main-font,'sans serif';
}

body{
	background:$pink url('/img/bg.png');
	padding:20px;
}
a{
	color:white;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}